$navbar-border-radius: 0;
$navbar-inverse-border: transparent;
$navbar-height: 75px;
$font-family-sans-serif: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Montserrat, Georgia, "Times New Roman", Times, serif;

@import "bootstrap";

@import "layout";
